[submodule "pack/plugins/opt/nvim-lspconfig"]
	path = pack/plugins/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "pack/plugins/opt/nvim-base16"]
	path = pack/plugins/opt/nvim-base16
	url = https://github.com/RRethy/nvim-base16
[submodule "pack/plugins/opt/nvim-treesitter"]
	path = pack/plugins/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
