[submodule "pack/plugins/start/gruvbox"]
	path = pack/plugins/start/gruvbox
	url = https://github.com/gruvbox-community/gruvbox
[submodule "pack/plugins/start/auto-pairs"]
	path = pack/plugins/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "pack/plugins/start/completion-nvim"]
	path = pack/plugins/start/completion-nvim
	url = https://github.com/nvim-lua/completion-nvim
[submodule "pack/plugins/start/lsp-status.nvim"]
	path = pack/plugins/start/lsp-status.nvim
	url = https://github.com/nvim-lua/lsp-status.nvim
[submodule "pack/plugins/start/nvim-colorizer.lua"]
	path = pack/plugins/start/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua
[submodule "pack/plugins/start/nvim-lspconfig"]
	path = pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "pack/plugins/start/nvim-tree.lua"]
	path = pack/plugins/start/nvim-tree.lua
	url = https://github.com/kyazdani42/nvim-tree.lua
[submodule "pack/plugins/start/nvim-web-devicons"]
	path = pack/plugins/start/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
[submodule "pack/plugins/start/plenary.nvim"]
	path = pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "pack/plugins/start/popup.nvim"]
	path = pack/plugins/start/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim
[submodule "pack/plugins/start/telescope.nvim"]
	path = pack/plugins/start/telescope.nvim
	url = https://github.com/nvim-lua/telescope.nvim
[submodule "pack/plugins/start/vim-tmux-navigator"]
	path = pack/plugins/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "pack/plugins/start/formatter.nvim"]
	path = pack/plugins/start/formatter.nvim
	url = https://github.com/mhartington/formatter.nvim
[submodule "pack/plugins/start/minimap.vim"]
	path = pack/plugins/start/minimap.vim
	url = https://github.com/wfxr/minimap.vim
[submodule "pack/plugins/start/vim-svelte-plugin"]
	path = pack/plugins/start/vim-svelte-plugin
	url = https://github.com/leafOfTree/vim-svelte-plugin
[submodule "pack/plugins/start/nvim-treesitter"]
	path = pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "pack/plugins/start/vim-vue"]
	path = pack/plugins/start/vim-vue
	url = https://github.com/posva/vim-vue
[submodule "pack/plugins/start/nlua.nvim"]
	path = pack/plugins/start/nlua.nvim
	url = git@github.com:tjdevries/nlua.nvim.git
[submodule "pack/plugins/start/completion-buffers"]
	path = pack/plugins/start/completion-buffers
	url = https://github.com/steelsojka/completion-buffers
[submodule "pack/plugins/start/vimwiki"]
	path = pack/plugins/start/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/plugins/start/git-blame.nvim"]
	path = pack/plugins/start/git-blame.nvim
	url = git@github.com:f-person/git-blame.nvim.git
[submodule "pack/plugins/start/vimspector"]
	path = pack/plugins/start/vimspector
	url = https://github.com/puremourning/vimspector
